/CollectionStudies/CollectionStudies/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/CollectionStudies/CollectionStudies/obj/Debug/netcoreapp3.1/apphost.exe
/CollectionStudies/CollectionStudies/obj/Debug/netcoreapp3.1/CollectionStudies.AssemblyInfo.cs
/CollectionStudies/CollectionStudies/obj/Debug/netcoreapp3.1/CollectionStudies.AssemblyInfoInputs.cache
/CollectionStudies/CollectionStudies/obj/Debug/netcoreapp3.1/CollectionStudies.assets.cache
/CollectionStudies/CollectionStudies/obj/Debug/netcoreapp3.1/CollectionStudies.csproj.CoreCompileInputs.cache
/CollectionStudies/CollectionStudies/obj/Debug/netcoreapp3.1/CollectionStudies.csproj.FileListAbsolute.txt
/CollectionStudies/CollectionStudies/obj/Debug/netcoreapp3.1/CollectionStudies.csprojAssemblyReference.cache
/CollectionStudies/CollectionStudies/obj/Debug/netcoreapp3.1/CollectionStudies.dll
/CollectionStudies/CollectionStudies/obj/Debug/netcoreapp3.1/CollectionStudies.genruntimeconfig.cache
/CollectionStudies/CollectionStudies/obj/Debug/netcoreapp3.1/CollectionStudies.pdb
/CollectionStudies/CollectionStudies/bin/Debug/netcoreapp3.1/CollectionStudies.deps.json
/CollectionStudies/CollectionStudies/bin/Debug/netcoreapp3.1/CollectionStudies.dll
/CollectionStudies/CollectionStudies/bin/Debug/netcoreapp3.1/CollectionStudies.exe
/CollectionStudies/CollectionStudies/bin/Debug/netcoreapp3.1/CollectionStudies.pdb
/CollectionStudies/CollectionStudies/bin/Debug/netcoreapp3.1/CollectionStudies.runtimeconfig.dev.json
/CollectionStudies/CollectionStudies/bin/Debug/netcoreapp3.1/CollectionStudies.runtimeconfig.json
/CollectionStudies/CollectionStudies/obj/CollectionStudies.csproj.nuget.dgspec.json
/CollectionStudies/CollectionStudies/obj/CollectionStudies.csproj.nuget.g.props
/CollectionStudies/CollectionStudies/obj/CollectionStudies.csproj.nuget.g.targets
/CollectionStudies/CollectionStudies/obj/project.assets.json
/CollectionStudies/CollectionStudies/obj/project.nuget.cache
/CollectionStudies/.vs/CollectionStudies/v16/.suo
/CollectionStudies/.vs/CollectionStudies/DesignTimeBuild/.dtbcache.v2
/src/.vs/CollectionStudies/DesignTimeBuild/.dtbcache.v2
/src/.vs/CollectionStudies/v16/.suo
/src/CollectionStudies/bin/Debug/netcoreapp3.1/CollectionStudies.deps.json
/src/CollectionStudies/bin/Debug/netcoreapp3.1/CollectionStudies.dll
/src/CollectionStudies/bin/Debug/netcoreapp3.1/CollectionStudies.exe
/src/CollectionStudies/bin/Debug/netcoreapp3.1/CollectionStudies.pdb
/src/CollectionStudies/bin/Debug/netcoreapp3.1/CollectionStudies.runtimeconfig.dev.json
/src/CollectionStudies/bin/Debug/netcoreapp3.1/CollectionStudies.runtimeconfig.json
/src/CollectionStudies/obj/CollectionStudies.csproj.nuget.dgspec.json
/src/CollectionStudies/obj/CollectionStudies.csproj.nuget.g.props
/src/CollectionStudies/obj/CollectionStudies.csproj.nuget.g.targets
/src/CollectionStudies/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/src/CollectionStudies/obj/Debug/netcoreapp3.1/apphost.exe
/src/CollectionStudies/obj/Debug/netcoreapp3.1/CollectionStudies.AssemblyInfo.cs
/src/CollectionStudies/obj/Debug/netcoreapp3.1/CollectionStudies.AssemblyInfoInputs.cache
/src/CollectionStudies/obj/Debug/netcoreapp3.1/CollectionStudies.assets.cache
/src/CollectionStudies/obj/Debug/netcoreapp3.1/CollectionStudies.csproj.CoreCompileInputs.cache
/src/CollectionStudies/obj/Debug/netcoreapp3.1/CollectionStudies.csproj.FileListAbsolute.txt
/src/CollectionStudies/obj/Debug/netcoreapp3.1/CollectionStudies.csprojAssemblyReference.cache
/src/CollectionStudies/obj/Debug/netcoreapp3.1/CollectionStudies.dll
/src/CollectionStudies/obj/Debug/netcoreapp3.1/CollectionStudies.genruntimeconfig.cache
/src/CollectionStudies/obj/Debug/netcoreapp3.1/CollectionStudies.pdb
/src/CollectionStudies/obj/project.assets.json
/src/CollectionStudies/obj/project.nuget.cache
